MAIL_APP_PASSWORD=votre_mot_de_passe_application
MAIL_EXPEDITEUR=votre.adresse@laplateforme.io
MAIL_DESTINATAIRE=admin@laplateforme.io
CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/XXX/messages?key=YYY&token=ZZZ
